<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
    </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/tachyons.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
    <style>
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    h6 {
        font-size: .875rem;
    }
    
    p {
        font-family: serif;
        font-size: 1.4rem;
    }
    .yellow{
        color:#ffff00;
    }
    </style>
</head>
